.wrapdiv{
    background-color: #1D19F0;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.logos{
    background-color: white;
    border-radius: 1000px;
    width: fit-content;
    margin: 20px 0px;
}

.logos img{
    padding: 15px 29px;
    height: 60px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3% 10px;
}

.flexx{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 37vw;

}

 ul.first{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 10px 0px;
}


.wrapdiv{
    font-size: 15px;
}

.first img{
    width: 18px;
}


.wrapdiv footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.flex  div{
    margin-bottom: 30px;
    max-width: 400px;
}

.flex h2{
    margin-bottom: 20px;
}
.flex p{
    margin-top: 10px;
}




@media screen and (max-width:700px) {
    

    .first img{
        width: 16px;
    }

    .flex h2{
        margin-bottom: 10px;
    }

    .flex{
        display: block;
    }

    .logos img{
        padding: 15px 24px;
        height: 40px;
    }
    .flex p{
        margin-top: 5px;
    }
    .flexx{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px 30px;
        min-width: 85vw;
        
    
    }

    .flexx div{
        max-width: 50vw;
    }

    .flexx p{
        max-width: 150px;
    }

    .pro{
        margin-top: 128px;
    }

}


@media screen and (max-width:1000px){
    .wrapdiv{
        font-size: 12px;
    }
}