.cover{
    background-color: white;
    border-radius: 20px;
    margin: 30px 0px;
    padding: 0.6vw;
    margin-right: 10px;
    box-shadow: 0px 4px 40px 4px rgba(19, 54, 168, 0.11);
}

.cover h1{
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
}

.cover p{
    font-weight: 500;
    font-size: 12px;
    margin: 6px 0px;
    max-width: 200px;
    line-height: 17px;
}

.hrline{
    width: 100%;
    min-width: 20vw;
    height: 1px;
    background-color: black;
}




.cover .header {
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
    align-items: flex-start;
    margin: 10px 0px;
}



.flex li{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
}

.flex li .flexx{
    display: flex;

}

.flex li img{
    margin-right: 11px;
}



@media screen and (max-width:1025px) {
    .cover h1{
        font-size: 18px;
    }
}

@media screen and (max-width:1000px) {   
    button.primary, button.secondary{
        padding: 3px 6px;
        min-width: fit-content;
        font-size: 10px;
    }

    .cover h1{
        font-weight: 700;
        font-size: 23px;
        line-height: 24px;
    }

    .flex li img{
        margin-right: 11px;
    }

    
    .cover{
        padding: 13px;
    }
    
}

