.padding{
    margin: 1% 10% 5% 10%;
}

.wrapdiv{
    background-color:rgba(19, 54, 168, 0.3);
    color: #1D19F0;
    border-radius: 20px;
}

.wrapdiv p{
    font-weight: 500;
    font-size: 16px;
    padding: 30px 0px;
    line-height: 24px;
    color: #1D19F0;
}

.service{
    padding-top: 10vh;
    text-align: center;
}

.section{
    display: flex;
    min-width: 80%;
    align-items: center;
    padding: 80px 3vw 0px 3vw;
    justify-content: space-between;
}


.section img{
    width: 500px;
    max-width: 40vw;
    margin-bottom: -5px
}

.section h1{
    font-weight: 700;
    font-size:32px;
    line-height: 48px;
}