.heading button{
    
    padding: 5px 10px;
    background: #1D19F0;
    border-radius: 20px;
    border: none;
    color: white;
}


.heading button:hover{
    color: black;
}


.heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.options{
    margin: 30px 0px;
}

.options select{
    outline: none;
    border: 1px solid #1D19F0;
    background-color: white;
    border-radius: 30px;
    padding: 2px 0px 2px 4px;
    color: #1D19F0;
    margin-right: 2vw;
}

.options select.all{
    background-color: #1D19F0;
    color: white;
}

.options select:hover{
    background-color: rgba(29, 25, 240, 0.4);
}
.main{
    width: 70vw;
    text-align: center;
    margin: 5vw;
}

.heading div{
    min-width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .image{
    width: fit-content;
    margin: 30px auto;
    border-radius: 20px;
    font-size: 64px;
    padding: 16vh 19vw;
    background-color: white;
    max-width: 60vw;
}

.main p{
    max-width: 500px;
    margin: auto;
}


.heading select{
    color: black;
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 700;
font-size: 16px;
}


button.invbutton{
    background: #1D19F0;
    border-radius: 20px;
    color: white;
     font-weight: 700;
    font-size: 16px;
    border: 1px solid #1D19F0;
    margin: -30px 0px 20px 0px;
}



/*-------------------------------------------------------*/
.choose .activee{
    border-bottom: 1px solid #1D19F0;
}

.choose{
    display: flex;
    align-items: center;
    margin: 30px 0px
}

.choose li{
    margin-right: 9vw;
}



/*-------------------------------------------------------*/

div .overflow{
    overflow-x: scroll;
    max-width: 80vw;
}
.table{
    max-width: 80vw;
    min-width: 900px;
    margin: 5vh 0px;
    overflow-x: scroll;
}


.table div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
    padding: 15px 5%;
    border-radius: 20px 20px 0px 0px;
}



table td, th{
    border: 1px solid rgba(29, 25, 240, 0.4);
    padding: 7px 5px;
    border-collapse: collapse;
    text-align: center;
}


.table button{
    padding: 5px 10px;
    background: #1D19F0;
    border-radius: 20px;
    border: none;
    color: white;
    margin: 30px 0px;
}


aside header{
    background-color: #E8E8E8;
    border-radius: 20px 20px 0px 0px;
    padding:  15px;
}

.inventory header{
    background-color: #E8E8E8;
    border-radius: 20px 20px 0px 0px;
    padding:  15px;
}

.inventory .flex{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}

.inventory{
    box-shadow: 0px 4px 40px 4px rgba(29, 25, 240, 0.11);
    border-radius: 20px;
    margin: 100px 0px;
    margin-top: 30px;
}

.inventory .upload{
    width: 50%;
}



.inventory .upload p{
    text-align: center;
    margin: 15px auto;
    max-width: 300px;
}
.inventory h2{
    font-weight: 500;
    font-size: 14px;
    margin: 7px 0px;
    line-height: 21px;
}

.inventory input{
    margin-bottom: 10px;
    padding: 10px 14px;
    border-radius: 5px;
    outline: none;
    max-width: 40vw;
    width: 300px;
    border: 1px solid #D9D9D9;

}
aside h2{
    font-weight: 500;
    font-size: 14px;
    margin: 7px 0px;
    line-height: 21px;
}

.inventory .images{
    background-color: rgba(29, 25, 240, 0.4);
    padding: 40px 60px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
}

aside input{
    margin-bottom: 10px;
    padding: 10px 14px;
    border-radius: 5px;
    outline: none;
    max-width: 40vw;
    width: 300px;
    border: 1px solid #D9D9D9;
}

aside .flex{
    display: flex;
    width:80%;
    justify-content: space-between;
}

aside .one{
    border-radius: 20px;
    margin: 0px 40px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 40px 4px rgba(29, 25, 240, 0.11);
}

.one div div{
    padding: 2px 15px;
}




@media screen and (max-width:1000px) {
    .inventory .flex{
        display: block;
        width:80%;
    }

    img{
        max-width: 70vw;
    }

    .heading h2{
        font-size:18px;
    }

    .heading button{
        padding: 3px 6px;
    }

    .heading div{
        min-width: 190px;
    }

    .heading{
        padding: 12px 0px;
    }

    .table{
        font-size: 12px;
    }

    .table div{
        width: 74%;
    }


    .inventory .upload p{
        text-align: center;
        margin: 15px auto;
        font-size: 12px;
    }

    .inventory h2{
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
    }
    aside .flex{
        display: block;
    }
    
}








@media screen and (max-width:330px) {
    .heading{
        font-size:12px;
    }
}