@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,400&display=swap');

:root{
    --black: #020206;
}

.wrapdiv{
    font-family: "Poppins", sans-serif;
}

.wrapdiv li:hover{
    color: var(--secondary-color);
}


ul{
    display: flex;
    justify-content: space-evenly;
}

.wrapdiv{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapdiv button Link{
    color: inherit;
}

.wrapdiv button{
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 10px;
    background-color: white;
}

.wrapdiv button.login{
    background-color: white;
    border: 1px solid #1336A8;
    color: #1336A8;
}

.wrapdiv button.signup{
    background-color: #1336A8;
    border: 1px solid #1336A8;
    color: white;
}


li{
    cursor: pointer;
    padding: 3px;
}

button:hover{
    cursor: pointer;
    background-color: #4567da !important; 
    color: white;
}

button:active{
    background-color: #020206;
    color: white;
}

.firstlist{
    width: 40%;
    max-width: 500px;
    padding-right: 10%;
}
.secondlist{
    justify-self: flex-end;
    justify-content: space-between;
    width: 15vw;
    max-width: 200px;
}

.wrapdiv{
    padding: 13px 1vw;
}


.firstlist{
    font-size: 14px;
}



.secondlist li{
    color: var(--black);
    font-weight: 500;
}

.active{
    font-weight: 700;
}


@media screen and (max-width:1000px) {
    .wrapdiv{
        display: block;
        padding: 0%;
        position: fixed;
        top: 0px;
        z-index: 10;
        background-color: var(--secondary-color);
        color: white;
        height: 100vh;
        width: 0vw;
        overflow: hidden;
        transition: width 0.4s ease;
    }

    button{
        font-size: 11px;
        padding: 9px;
    }

    .wrapdiv:hover{
        width: 100vw;
    }

    ul{
        display: block;
        text-align: center;
        margin: auto;
        padding: 0px;
    }
    .firstlist{
        padding: 0%;
        margin-top: 10vh;
    }

    .firstlist li{
        padding: 5px;
        margin: 3vw 1px;
    }

    .logo div{

        margin-top: 5vh;
    }

    .secondlist{
        width: max-content;
        margin-top: 35vh;
    }

    .secondlist li{
        margin-top: 2vh;
    }
}