@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,400&display=swap');

:root{
    ---primary-color: #D9D9D9;
    --secondary-color: #1D19F0;
    --black: #020206;
}

.wrapdiv{
    font-family: "Poppins", sans-serif;
}

.wrapdiv li:hover{
    color: var(--secondary-color);
}

.logo div{
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-color: var(---primary-color);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

.wrapdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button Link{
    color: inherit;
}

button{
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
}

button.login{
    background-color: white;
    border: 1px solid var(---primary-color);
}

button.signup{
    background-color: var(---primary-color);
    border: 1px solid var(---primary-color);
}


li{
    cursor: pointer;
    padding: 3px;
}

button:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
}

.firstlist{
    width: 40%;
    max-width: 500px;
    padding-right: 10%;
}
.secondlist{
    justify-self: flex-end;
    justify-content: space-between;
    width: 15vw;
    max-width: 200px;
}

.wrapdiv{
    padding: 13px 1vw;
}




.secondlist li{
    color: var(--black);
    font-weight: 500;
}


.active{
    font-weight: 700;
}

.wrapdiv{
    display: none;
}

.opennav img{
    width: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
}

@media screen and (max-width:1000px) {
    .wrapdiv{
        display: block;
        padding: 0%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: var(--secondary-color);
        color: white;
        height: 100vh;
        width: 0vw;
        overflow: hidden;
        transition: width 0.4s ease;
    }

    .logo{
        font-weight: 700;
        font-size: 24px;
        color: grey;
    }

    button{
        font-size: 11px;
        padding: 9px;
    }

    .wrapdiv:hover{
        width: 100vw;
    }

    ul{
        display: block;
        text-align: center;
        margin: auto;
        padding: 0px;
    }
    .firstlist{
        padding: 0%;
        margin-top: 10vh;
    }

    #opennvav:hover .wrapdiv{
        width: 100vw;
    }

    .firstlist li{
        padding: 5px;
        margin: 3vw 1px;
    }

    .logo div{

        margin-top: 5vh;
    }

    .secondlist{
        width: max-content;
        margin-top: 35vh;
    }

    .secondlist li{
        margin-top: 2vh;
    }
}


@media screen and (min-width:1000px)  {
    .flex{
        display: none;
    }
}